{% extends "farmshop/frontend/hofladen_layout.html" %}
{% block title %}
<!--Pakete/Packungen-->
{% endblock %}
{% block content %}
<div class="row">
{% for package in farmshop.package_set.all %}
<div class="col-sm-6">
  <div class="card" style="width: 18rem;">
    {% if package.image %}
    <img src="{{ package.image.url }}" height="200px" class="card-img-top" title="Bild für {{ package.title }}" alt="{{ package.title }}">
    {% else %}
    <img src="/media/dummy.png" height="200px" class="card-img-top" alt="Kein Bild für {{ package.title }} eingestellt!">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ package.title }}</h5>
      <p class="card-text">{{ package.description }}</p>
      <p class="card-text">{{ package.units }} {{ package.get_unit_display }}</p>
      <p class="card-text">{{ package.price }}€</p>
      <a href="#" class="btn btn-danger">Hofladen - Verfügbarkeit ggf. telefonisch unter {{ farmshop.contact_phone }} anfragen.</a>
    </div>
  </div>
</div>  
{% endfor %}
</div>

{% endblock %}